---
layout: default
---
<div class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" id="hs_cos_wrapper_widget_1523272946252" style="" data-hs-cos-type="module" data-hs-cos-general-type="widget">
    <span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" id="hs_cos_wrapper_widget_1523272946252_" style="" data-hs-cos-type="rich_text" data-hs-cos-general-type="widget">
        <div class="section-block pb-20">
            <div class="row">
                <div class="column width-9 tmh-perspective">
                    <h2 class="weight-thin font-alt-1 color-charcoal horizon" style="transition:; visibility: visible; opacity: 1; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1); transform-origin: 50% 50% 0px; backface-visibility: hidden;" data-animate-in="preset:slideInUpShort;duration:800ms;">Alle blogs over <strong>{{ page.title }}</strong> vind je hier terug.</h2>
                </div>
            </div>
        </div>
    </span>
</div>

<div class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" id="hs_cos_wrapper_widget_1523274656429" style="" data-hs-cos-type="module" data-hs-cos-general-type="widget">
    <div class="section-block pt-40" id="offering">
        <div class="row flex boxes full-width">
            {% unless site.categories contains page.category %}
                <div class="column width-8 offset-2 tmh-perspective">
                    <h3 class="weight-thin font-alt-1 color-charcoal horizon" style="transition:; visibility: visible; opacity: 1; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1); transform-origin: 50% 50% 0px; backface-visibility: hidden;" data-animate-in="preset:slideInUpShort;duration:800ms;">Nog geen posts in deze categorie</h3>
                </div>
            {% endunless %}
            
            {% for post in site.posts %}
            {% if post.categories contains page.category %}
                <div class="solution-columns-home column width-3 post-box">
                    <a class="box xlarge bkg-cegeka-dark-blue color-white" class="blog-title" href="{{ post.url }}">
                        <p class="lead weight-semi-bold">{{ post.title }}</p>
                        <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 256 }}</p>
                    </a>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>